<template>
  <div class="about">
    <h1>このサイトについて</h1>
    <h2 class="catch-copy">日本国内のDrupalサイトを集めたDrupalサイトギャラリー「Drupal Dawn」</h2>
    <p>最も先進的な高機能CMSとして、世界で高いシェアを誇るCMS「Drupal（ドゥルーパル）」。<br>世界のグローバル企業、政府、高等教育機関、およびNGOの間では、Webコンテンツ管理のためのNo.1プラットフォームとして、世界では非常にメジャーな存在のCMSとして広く知られています。</p>
    <p>一方国内では、少しづつ導入企業が増えてきているとはいえ、まだまだ知名度が低いのが現状です。</p>
    <p>優れた柔軟性と拡張性、豊富な基本機能、強い規約に基づくメンテナンス性の高さなど、導入メリットが非常に多いにも関わらず、国内での普及が進んでいない要因・・・それは、やはり国内での利用実績の少なさが挙げられるのではないでしょうか。</p>
    <p>こんなにも魅力的で有益なCMSがあることを、もっと多くの方に知ってほしい。そんな想いから、検索だけでは見つけにくい「Drupal」で構築された国内のウェブサイトを当サイトで紹介していくことにしました。</p>
    <p>このサイトが、日本に Drupal Dawn（Drupalの夜明け）をもたらす一助となることを願って。</p>

    <hr>

    <h2>運営者情報</h2>
    <p>当サイトはオープンソースCMS「Drupal」の普及を目的とした非営利サイトとして、<a href="https://drupal.studio-umi.jp/">スタジオ・ウミ</a>が運営しています。</p>
    <h3>お問い合わせ</h3>
    <p>掲載情報の誤り等に関するご報告や、掲載サイトの削除をご希望される方は、
      <nuxt-link
        to="/contact"
        class="site-adding-link">
        お問い合わせフォーム
      </nuxt-link>
      よりご連絡ください。
    </p>
    <p>※サイト情報の削除についてはサイトオーナー様以外からの要請にはお応えできない場合がございます。予めご了承ください。</p>
  </div>
</template>

<script>
export default {
  layout: 'Navigation',
  name: 'About',
  title: 'このサイトについて',
  data() {
    return {}
  }
}
</script>
