<template>
  <div>
    <SiteList />
  </div>
</template>

<script>
import SiteList from '~/components/SiteList.vue'

export default {
  layout: 'Navigation',
  head() {
    const title = 'Drupal + 日本語の制作実績・事例のまとめサイト Drupal Dawn'
    const description =
      'Drupalで作られた日本語サイトの実績・事例を収集したまとめサイト。各サイトのスクリーンショットを掲載。業種や色、カテゴリによるフィルタリングや、キーワードによる検索が可能です。'
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description },
        { hid: 'og:title', property: 'og:title', content: title }
      ]
    }
  },
  components: {
    SiteList
  }
}
</script>
