<template>
  <div class="site">
    <h1 v-html="site.name" />
    <ul class="images">
      <li
        v-if="existsImage('large')"
        class="image-large">
        <img
          :src="site.screenshot_large.x1"
          :srcset="[site.screenshot_large.x1 + ' 1x', site.screenshot_large.x2 + ' 2x']">
      </li>
      <li
        v-if="existsImage('medium')"
        class="image-medium">
        <img
          :src="site.screenshot_medium.x1"
          :srcset="[site.screenshot_medium.x1 + ' 1x', site.screenshot_medium.x2 + ' 2x']">
      </li>
      <li
        v-if="existsImage('small')"
        class="image-small">
        <img
          :src="site.screenshot_small.x1"
          :srcset="[site.screenshot_small.x1 + ' 1x', site.screenshot_small.x2 + ' 2x']">
      </li>
    </ul>
    <dl class="specification">
      <dt>URL</dt>
      <dd>
        <a
          :href="site.link"
          rel="nofollow"
          target="_blank">{{ site.link }}</a>
        <i class="material-icons url">launch</i>
      </dd>
      <dt>色</dt>
      <dd>
        <span
          v-for="color in site.site_colors"
          :key="color"
          class="tag">
          {{ color }}
        </span>
      </dd>
      <dt>バージョン</dt>
      <dd><span class="tag">{{ site.drupal_version }}</span></dd>
      <dt>業種</dt>
      <dd>
        <span
          v-for="business_type in site.business_type"
          :key="business_type"
          class="tag">
          {{ business_type }}
        </span>
      </dd>
      <dt>サイトタイプ</dt>
      <dd>
        <span
          v-for="site_type in site.site_type"
          :key="site_type"
          class="tag" >
          {{ site_type }}
        </span>
      </dd>
    </dl>
  </div>
</template>

<script>
import DrupalAccess from '~/plugins/DrupalAccess'

export default {
  layout: 'Navigation',
  head() {
    const site = this.site
    const title = site.name + ' | Drupal Dawn'
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: site.name },
        { hid: 'og:title', property: 'og:title', content: title },
        {
          hid: 'og:image',
          property: 'og:image',
          content: site.screenshot_large.x1
        }
      ]
    }
  },
  data() {
    return {
      site: {}
    }
  },
  async asyncData({ params }) {
    try {
      const nid = params.id
      const site = await DrupalAccess.get_data('/site/' + nid)
      return {
        title: site.name,
        site: site
      }
    } catch (err) {
      console.error('サイト情報の取得に失敗しました.')
    }
  },
  methods: {
    existsImage: function(size) {
      if (['screenshot_' + size] in this.site) {
        return 'x1' in this.site['screenshot_' + size]
      }
      return false
    }
  }
}
</script>

<style src="@/scss/Site.scss" lang="scss" scoped>
</style>
