<template>
  <footer>
    <ul class="sns-links">
      <li>
        <a
          :href="facebookShareUrl"
          class="fb btn"
          onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
          <img
            src="../assets/facebook.svg"
            alt="facebook">
        </a>
      </li>
      <li>
        <a
          :href="twitterShareUrl"
          class="twitter btn"
          target="_blank">
          <img
            src="../assets/twitter.svg"
            alt="twitter">
        </a>
      </li>
      <li>
        <a
          :href="googleplusShareUrl"
          class="gplus btn"
          onclick="window.open(this.href, 'Gwindow', 'width=650, height=500, menubar=no, toolbar=no, scrollbars=yes'); return false;">
          <img
            src="../assets/google-plus.svg"
            alt="google+">
        </a>
      </li>
    </ul>
    <ul class="navigation">
      <li><nuxt-link to="/">ホーム</nuxt-link></li>
      <li><nuxt-link to="/about">このサイトについて</nuxt-link></li>
      <li><nuxt-link to="/contact">お問い合わせ</nuxt-link></li>
      <li><nuxt-link to="/site/add">サイトを登録する</nuxt-link></li>
    </ul>
    <p class="created-by">Created by <a href="https://drupal.studio-umi.jp/">Studio Umi</a></p>
  </footer>
</template>

<style src="@/scss/PageFooter.scss" lang="scss" scoped>
</style>

<script>
export default {
  data() {
    return {
      facebookShareUrl:
        'http://www.facebook.com/share.php?u=' + this.getDrupalDawnUrl(),
      twitterShareUrl:
        'http://twitter.com/share?url=' +
        this.getDrupalDawnUrl() +
        '&text=Drupal + 日本語の制作実績・事例のまとめサイト Drupal Dawn',
      googleplusShareUrl:
        'https://plus.google.com/share?url=' + this.getDrupalDawnUrl()
    }
  },
  methods: {
    getDrupalDawnUrl: function() {
      return process.env.SITE_DOMAIN
    }
  }
}
</script>
