<template>
  <header>
    <div class="inner">
      <h1>
        <nuxt-link to="/">
          <img
            src="../assets/logo.svg"
            alt="Drupal Dawn"
            class="site-logo">
        </nuxt-link>
      </h1>

      <button
        class="material-icons navigation-toggle-button"
        @click="[ isNavShown = !isNavShown ]">
        {{ isNavShown ? 'close' : 'menu' }}
      </button>

      <nav
        :class="{ 'is-active': isNavShown }"
        class="navigation">
        <ul class="vocabularies">
          <li class="vocabulary new">
            <button class="vocabulary-button">
              <nuxt-link
                :to="{ path: '/', query: { order: 'new' } }"
                class="new-link">新着</nuxt-link>
            </button>
          </li>
          <li
            v-for="(menu, index) in vocabularies"
            :key="menu.name"
            :class="index"
            class="vocabulary">
            <button
              :class="{ 'is-open': vocabularies[index].isOpen, 'is-active': activeVocabulary == index }"
              class="vocabulary-button"
              @click="toggleVisibility(index)">
              {{ menu.name }}
              <span class="material-icons vocabulary-toggle-icon">keyboard_arrow_down</span>
            </button>
            <ul
              :class="{ 'is-open': vocabularies[index].isOpen }"
              class="terms">
              <li
                v-for="term in menu.terms"
                :key="term.name"
                class="term">
                <nuxt-link
                  :to="{ path: '/', query: getQuery(index, term) }"
                  class="term-link">{{ term.name }}</nuxt-link>
              </li>
            </ul>
          </li>
        </ul>
        <nuxt-link
          to="/site/add"
          class="site-adding-link">サイトを登録する</nuxt-link>
      </nav>

    </div>
  </header>
</template>

<script>
import DrupalAccess from '~/plugins/DrupalAccess'

export default {
  data() {
    return {
      isNavShown: false,
      activeVocabulary: '',
      vocabularies: {
        business_type: {
          name: '業種',
          isOpen: false,
          terms: []
        },
        site_type: {
          name: 'サイトタイプ',
          isOpen: false,
          terms: []
        },
        site_color: {
          name: '色',
          isOpen: false,
          terms: []
        },
        drupal_version: {
          name: 'バージョン',
          isOpen: false,
          terms: []
        }
      }
    }
  },
  watch: {
    $route: function() {
      // 画面遷移した時はアクティブなメニューを隠す.
      this.isNavShown = false
    }
  },
  created() {
    // 定義されたメニューごとにタクソノミータームの情報を取得する.
    this.fetchTerms()
  },
  methods: {
    // AJAX でナビゲーション用のタームを取得してセットする.
    fetchTerms: async function() {
      try {
        const vocabularies = await DrupalAccess.get_data('/terms')
        if (vocabularies) {
          const vocabularyNames = Object.keys(vocabularies)
          for (let vocabularyName of vocabularyNames) {
            const vocabulary = vocabularies[vocabularyName]
            this.vocabularies[vocabularyName].terms = vocabulary['terms']
          }
        }
      } catch (err) {
        console.error('ターム一覧の取得に失敗しました')
      }
    },
    // ターム毎の URL クエリーの配列を引数から生成して返す.
    getQuery: function(indentifier, term) {
      let query = []
      query[indentifier] = term.tid
      return query
    },
    // 現在のアクティブなメニューをセットする.
    // セットされているメニューが同じ場合はメニュー名をクリアする.
    toggleVisibility: function(name) {
      this.activeVocabulary = this.activeVocabulary !== name ? name : ''
      this.vocabularies[name].isOpen = !this.vocabularies[name].isOpen
    }
  }
}
</script>

<style src="@/scss/PageHeader.scss" lang="scss" scoped>
</style>
