<template>
  <div>
    <p class="search-wrapper">
      <i class="material-icons search-icon">search</i>
      <input
        v-model="keyword"
        class="search-keyword"
        placeholder="検索キーワード">
    </p>

    <div class="sites">
      <div
        v-for="site in sites"
        :key="site.id"
        class="site">
        <SiteThumbnail :site="site" />
      </div>
    </div>

    <div
      v-if="nextPage"
      class="next-wrapper">
      <button
        class="button-next"
        @click="getSiteLists">
        MORE
      </button>
    </div>
  </div>
</template>

<script>
import DrupalAccess from '~/plugins/DrupalAccess'
import SiteThumbnail from './SiteThumbnail'

export default {
  components: { SiteThumbnail },
  data() {
    return {
      nextPage: false,
      page: 0,
      keyword: '',
      sites: []
    }
  },
  watch: {
    keyword: _.debounce(function() {
      this.changeKeyword()
    }, 300),
    $route: function() {
      this.keyword = ''
      this.changeKeyword()
    }
  },
  created() {
    this.getSiteLists()
  },
  methods: {
    getSiteLists: async function() {
      const params = Object.assign(
        {
          page: this.page ? this.page : null,
          keyword: this.keyword ? this.keyword : null
        },
        this.$route.query
      )

      try {
        const results = await DrupalAccess.get_data('/sites', params)
        if (results) {
          this.page += 1
          this.nextPage = results.next
          this.sites = this.sites.concat(results.sites)
        }
      } catch (err) {
        console.error('サイト一覧の取得に失敗しました')
      }
    },
    changeKeyword: async function() {
      this.page = 0
      this.sites = []
      await this.getSiteLists()
    }
  }
}
</script>

<style src="@/scss/SiteList.scss" lang="scss" scoped>
</style>
