<template>
  <section>
    <div class="thumbnail">
      <nuxt-link :to="{ path: 'sites/' + site.id }">
        <img
          :src="site.image"
          :srcset="[ site.image + ' 1x', site.image_2x + ' 2x' ]"
          :alt="site.name | formatImageAlt">
      </nuxt-link>
    </div>
    <div class="links">
      <nuxt-link
        :to="{ path: 'sites/' + site.id }"
        class="name"
        v-html="site.name" />
      <a
        :href="site.url"
        target="_blank"
        rel="nofollow"
        class="material-icons site-url">
        launch
      </a>
    </div>
  </section>
</template>

<script>
export default {
  filters: {
    formatImageAlt: function(v) {
      return 'スクリーンショット: ' + v
    }
  },
  props: {
    site: {
      type: Object,
      default: null
    }
  }
}
</script>

<style src="@/scss/SiteThumbnail.scss" lang="scss" scoped>
</style>
