////
/// Colors
////
$color-light-black: #333;
$color-vermillion: #da1717;
$color-salmon-pink: #fee;
$color-dark-sky-blue: #2388ae;
$color-sky-blue: #3cb7e5;
$color-lightest-sky-blue: lighten($color-sky-blue, 37%);
$color-grey: #d6d6d6;
$color-light-grey: #e3e3e3;
$color-dark-grey: #aaa;
$color-light-white: #f2f2f2;
$color-white: #fff;

////
/// Breakpoints
////
// Extra small devices: 0 - 543px.
$screen-xs-min: 0;
$screen-xs-max: 33.9375em;
// Small devices: 544px - 767px
$screen-sm-min: 34em;
$screen-sm-max: 47.9375em;
// Medium devices: 768px - 991px
$screen-md-min: 48em;
$screen-md-max: 61.9375em;
// Large devices: 992px - 1199px
$screen-lg-min: 62em;
$screen-lg-max: 74.9375em;
// Extra large devices: 1200px -
$screen-xl-min: 75em;

////
/// Global element settings.
////
$default-vertical-margin: 20px;
