body {
  margin: 0;
  padding: 0;
  color: $color-light-black;
  background-color: $color-light-grey;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3 {
  margin: 56px 0 $default-vertical-margin;
  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: 18px;
  line-height: 2.2;
}

p {
  margin: $default-vertical-margin 0;
}

ul,
ol {
  padding-left: 16px;
}

hr {
  margin: 56px 0;
  border-top: 1px solid $color-grey;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $color-dark-sky-blue;
}

.catch-copy {
  margin: 0 0 $default-vertical-margin;
  color: #3cb7e5;
  font-family: HiraKakuProN-W6;
  font-size: 20px;
}

.strong-list {
  font-weight: bold;
}

.notices {
  padding-left: 0;
  list-style: none;
  > li::before {
    content: "※ ";
  }
}

.main {
  padding-top: 56px;
  background-color: $color-light-white;
}
.main-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
}
@include breakpoint($screen-sm-min) {
  .main-inner {
    padding: 32px;
  }
}
@include breakpoint($screen-md-min) {
  .main-inner {
    padding: 48px;
  }
}
@include breakpoint($screen-lg-min) {
  .main-inner {
    padding: 64px;
  }
}

.required {
  color: $color-vermillion;
}

////
/// Form items.
////

input {
  font-size: 14px;
}

.form-item {
  @include breakpoint($screen-md-min) {
    flex-direction: row;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  > label {
    width: 138px;
    font-weight: bold;
  }
  > input {
    box-sizing: border-box;
    max-width: 100%;
    padding: 3px 10px;
    border: 0;
    border-radius: 4px;
    line-height: 22px;
  }
}

.form-actions {
  margin-top: 48px;
  > input[type="submit"] {
    padding: 0 48px;
    transition: all 0.5s;
    color: $color-white;
    border: 0;
    border-radius: 4px;
    background-color: $color-sky-blue;
    font-weight: bold;
    line-height: 48px;
    &:hover {
      cursor: pointer;
      color: $color-sky-blue;
      background-color: $color-white;
    }
  }
}
