header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 56px;
  color: $color-white;
}

h1 {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  background-color: $color-light-black;
  font-family: HelveticaNeue;
  font-size: 22px;
  > a {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    text-decoration: none;
    color: $color-white;
  }
}

.site-logo {
  display: block;
}
.site-logo-link {
  &:hover {
    opacity: 0.7;
  }
}

.navigation-toggle-button {
  position: absolute;
  z-index: 105;
  top: 50%;
  right: 10px;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  color: #fff;
  border: 0;
  background-color: transparent;
  &:active {
    color: $color-sky-blue;
  }
}
@include breakpoint($screen-md-min) {
  .navigation-toggle-button {
    display: none;
  }
}

.navigation {
  overflow-y: auto;
  box-sizing: border-box;
  height: calc(100vh - 56px);
  font-size: 12px;
}
@include breakpoint(max-width $screen-sm-max) {
  .navigation {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.2s;
    transform: translateY(0);
    background-color: rgba(#333, 0.95);
    line-height: 2.83;
    &.is-active {
      transform: translateY(100%);
    }
  }
}
@include breakpoint($screen-md-min) {
  .navigation {
    height: 56px;
  }
}

.vocabularies {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
@include breakpoint($screen-md-min) {
  .vocabularies {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 240px;
  }
}

.vocabulary-button {
  position: relative;
  z-index: 110;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  text-align: left;
  color: $color-white;
  border: 0;
  background-color: transparent;
  line-height: 44px;;
  &:active {
    color: $color-sky-blue;
  }
}
@include breakpoint(max-width $screen-sm-max) {
  .vocabulary-button {
    border-bottom: 1px solid $color-dark-grey;
    &:hover {
      cursor: pointer;
    }
  }
}
@include breakpoint($screen-md-min) {
  .vocabulary-button {
    height: 100%;
    padding: 0 10px;
    &:hover,
    &.is-active {
      color: $color-sky-blue;
    }
  }
}

.vocabulary-toggle-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transition: transform 0.3s;
  transform: translateY(-50%);
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  .vocabulary-button.is-open & {
    transform: translateY(-50%) rotateX(-180deg);
  }
}
@include breakpoint($screen-md-min) {
  .vocabulary-toggle-icon {
    display: none;
  }
}

.terms {
  box-sizing: border-box;
  padding: 10px 0;
  line-height: 1.58;
}
@include breakpoint(max-width $screen-sm-max) {
  .terms {
    display: none;
    border-bottom: 1px solid $color-dark-grey;
    &.is-open {
      display: block;
    }
  }
}
@include breakpoint($screen-md-min) {
  .terms {
    position: absolute;
    z-index: 95;
    left: 0;
    width: 100%;
    padding: 24px 0;
    transition: transform 0.3s;
    transform: translateY(-100%);
    background-color: rgba($color-light-black, 0.95);

    columns: 3;
    li:hover > &,
    &.is-visible {
      transform: translateY(0);
    }
  }
}
@include breakpoint($screen-lg-min) {
  .terms {
    columns: 4;
  }
}

.term {
  break-inside: avoid;
  list-style: none;
}

.term-link {
  display: block;
  padding: 8px 30px;
  text-decoration: none;
  color: $color-dark-grey;
  &.router-link-exact-active {
    color: $color-sky-blue;
  }
}
@include breakpoint($screen-md-min) {
  .term-link {
    color: $color-white;
    &:hover,
    &.is-active {
      color: $color-sky-blue;
    }
  }
}

.site-adding-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 35px;
  transition: all 0.5s;
  text-decoration: none;
  color: $color-white;
  background-color: $color-sky-blue;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.17;
  &:hover {
    color: $color-sky-blue;
    background-color: $color-white;
  }
}
@include breakpoint($screen-md-min) {
  .site-adding-link {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.new-link {
  color: $color-white;
  &:hover,
  &.is-active {
    color: $color-sky-blue;
  }
}
