footer {
  padding: 24px 0 16px;
}
@include breakpoint($screen-md-min) {
  footer {
    padding: 40px 0;
  }
}

.sns-links {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  > li {
    margin: 0 10px;
  }
  .btn {
    &:hover {
      opacity: 0.7;
    }
  }
}
@include breakpoint($screen-md-min) {
  .sns-links {
    float: left;
    justify-content: start;
    margin-left: 80px;
  }
}

.navigation {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.82;
  a {
    text-decoration: none;
    color: $color-light-black;
    &:hover {
      opacity: 0.7;
    }
  }
}
@include breakpoint($screen-md-min) {
  .navigation {
    position: absolute;
    line-height: 47px;
    right: 200px;
    display: flex;
    > li {
      margin: 0 10px;
    }
  }
}

.created-by,
.created-by > a {
  text-decoration: none;
  color: $color-dark-grey;
  font-family: HelveticaNeue;
  font-size: 10px;
  &:hover {
    opacity: 0.7;
  }
}
.created-by {
  line-height: normal;
  margin: 0;
  text-align: center;
}
@include breakpoint($screen-md-min) {
  .created-by {
    line-height: 45px;
    margin-right: 60px;
    text-align: right;
  }
}
