.thumbnail {
  > a {
    transition: filter 0.5s;
    &:hover {
      filter: brightness(120%);
    }
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  background-color: $color-white;
  font-weight: bold;
  > a {
    height: 52px;
    text-decoration: none;
    &:hover {
      color: $color-sky-blue;
    }
  }
}
.name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 20px;
  vertical-align: middle;
  color: $color-light-black;
}
.site-url {
  padding: 0 14px;
  color: $color-dark-grey;
  font-size: 20px;
  line-height: 52px;
}
