.search-wrapper {
  position: relative;
  max-width: 768px;
  margin: 0 auto 56px;
}
.search-icon {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: $color-dark-grey;
  font-size: 26px;
}
.search-keyword {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 54px;
  text-align: center;
  border: 1px solid $color-dark-grey;
  border-radius: 100px;
  background-color: $color-white;
  font-size: 20px;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.site {
  width: 100%;
  margin: 0 20px 40px 20px;
}
@include breakpoint($screen-md-min) {
  .site {
    width: calc(50% - 40px);
  }
}
@include breakpoint($screen-xl-min) {
  .site {
    width: calc(33.333% - 40px);
  }
}

.next-wrapper {
  max-width: 512px;
  margin: 0 auto;
}

.button-next {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  border: 0;
  border-radius: 100px;
  font-size: 16px;
  letter-spacing: 2px;
  color: $color-white;
  background-color: $color-sky-blue;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
