.images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 -1.5% 3vw;
  padding: 0;
  list-style: none;
  > li {
    &:not(last-child) {
      margin: 0 1.5%;
    }
    > img {
      width: 100%;
      height: auto;
    }
  }
}

.image-large {
  min-width: 48.75%;
}
.image-medium {
  min-width: 30%;
}
.image-small {
  min-width: 12.5%;
}

.specification {
  line-height: 24px;
  > dt {
    clear: left;
    font-weight: bold;
  }
  > dd {
    margin: 0 0 16px;
  }
}
.url {
  vertical-align: -3px;
  color: $color-dark-grey;
  font-size: 14px;
}
.tag {
  display: inline-block;
  margin: 0 8px 4px 0;
  padding: 0 10px;
  border-radius: 4px;
  background-color: $color-white;
}
@include breakpoint($screen-sm-min) {
  .specification {
    display: flex;
    flex-wrap: wrap;
    > dt {
      min-width: 120px;
      margin: 0 0 16px;
    }
    > dd {
      width: calc(100% - 120px);
    }
  }
  .tag {
    margin-bottom: 0;
  }
}
