<template>
  <div>
    <PageHeader />
    <div class="main">
      <div class="main-inner">
        <nuxt />
      </div>
    </div>
    <PageFooter />
  </div>
</template>

<script>
import PageHeader from '~/components/PageHeader.vue'
import PageFooter from '~/components/PageFooter.vue'

export default {
  name: 'Navigation',
  components: {
    PageHeader,
    PageFooter
  }
}
</script>
